header {
  background: black;
  color: white;
}

h1 {
  margin: 0;
  padding: 10px 10px;
}

.searchbar {
  background: gray;
  color: white;
  padding: 10px 10px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.searchbar > label {
  margin-right: 10px;
}
